<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EQUO - DASHBOARD</title>
</head>

<body>
    
    <nav id="navBar">
        <div id="navLeft">
            EQUO
        </div>

        <div id="navCenter">
            <button id="logout">
                <img src="{{ url_for('static', filename='images/logout.png')}}">
            </button>
        </div>

        <div id="navRight">
            <img src="{{ pfp }}">
        </div>
    </nav>


    <div id="main_container">
        <div id="headerFormula container">
            PLACE HOLDER
        </div>

        <div id="canvasContainer">
            <canvas id="canvas"></canvas>
        </div>
    </div>


</body>

</html>